# Compiled Object files
*.slo
*.lo
*.o

#Visual Studio files
*.sdf
*.opensdf

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
CVS
log1
log2
*.user
*.sdf
**/Debug/**
**/debug/**
**/tmp/
**/DebugWin32/
**/Release/**
**/ReleaseWin32/**
cvsnt/cvsnt-2.5.05.3744/Winrel/
cvsnt/cvsnt-2.5.05.3744/WinDebug/**
*.ncb

cvsnt/cvsnt-2.5.05.3744/ReleaseWin32/
cvsnt/cvsnt-2.5.05.3744/tmp/ReleaseWin32/
**/win32/Release/*
**/win32/Release/*
Release/

Debug/
*.ipch
*.ncb
