# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
CVS
log1
log2
*.user
**/Debug/**
**/debug/**
**/tmp/
**/DebugWin32/
**/Release/**
**/ReleaseWin32/**
cvsnt/cvsnt-2.5.05.3744/Winrel/
cvsnt/cvsnt-2.5.05.3744/WinDebug/**
*.ncb
